[*.cs]

# CS8604: 引用类型参数可能为 null。
dotnet_diagnostic.CS8604.severity = suggestion

# Default severity for analyzer diagnostics with category 'Interoperability'
dotnet_analyzer_diagnostic.category-Interoperability.severity = silent
